/* start global rules */
html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

h1 { 
    padding: 0;
    margin: 0;
    font-size: 3rem;
}

p { 
    font-size: 2rem;
    line-height: 3rem;
}

:root {
    --clr-main: #ff9800;
}

.container {
    width: 80%;
    margin: 0 auto;
}
/* end global rules */

/* start settings box */
.settings-box {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    top: 0;
    left: -250px;
    padding: 1rem;
    transition: 0.3s;
}

.settings-box.open {
    left: 0;
}

.settings-box .gear-container {
    position: absolute;
    right: -40px;
    top: 150px;
    font-size: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
}

.settings-box .option-box {
    width: 80%;
    margin: 0 auto;
    background-color: #eee;
    height: 100px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.settings-box .option-box h4 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
}

.settings-box .option-box .colors-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.settings-box .option-box .colors-list li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.settings-box .option-box .colors-list li.active {
    opacity: 1;
    border: 2px solid #fff;
    box-sizing: content-box;
}

.settings-box .option-box .colors-list li:nth-child(1) {
    background-color: #ff9800;
}

.settings-box .option-box .colors-list li:nth-child(2) {
    background-color: #e91e63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
    background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
    background-color: #03a9f4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
    background-color: #4caf50;
}

.settings-box .option-box button {
    width: 40%;
    height: 2rem;
    background-color: #eee;
    color: #333;
    font-weight: 700;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
}

.settings-box .option-box button.active {
    color: #eee;
    background-color: #333;
}
/* end settings box */

/* start landing page */
.landing-page {
    min-height: 100vh;
    background-image: url('../images/img1.jpg');
    background-size: cover;
    background-position: bottom;
}

.landing-page .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.landing-page header {
    color: #fff;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.landing-page header .logo {
    font-weight: 700;
}

.landing-page .nav-links {
    list-style: none;
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.landing-page header a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    transition: 0.3s;
}

.landing-page .nav-links li a:hover {
    color: var(--clr-main);
}
.landing-page .introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #fff;
}

.landing-page .introduction-text h1{
    margin-bottom: 2rem;
}

.landing-page .introduction-text h1 span {
    color: var(--clr-main);
}
/* end landing page */

 /* start about us section */
.about .container {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    background-color: rgb(255, 255, 255);
}

.about .about-text {
    flex: 1;
}
.about .about-text h2 {
    font-size: 5rem;
    color: var(--clr-main);
    margin-bottom: 2rem;
}
/* end about us section */

/* start best offer section */
.best-offer {
    text-align: center;
    background-color: #eee;
    padding: 2rem;
}

.best-offer h2 {
    font-size: 3rem;
}

.best-offer h4 {
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.best-offer .offer-box {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem;
}

.best-offer .offer-box .offer-portion {
    background-color: #eee;
    margin: 2rem 0;
    text-align: start;
    padding: 2rem;
}

.best-offer .offer-box .offer-portion .progress-container {
    height: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.best-offer .offer-box .offer-portion .progress-container span {
    display: block;
    height: 100%;
    width: 0;
    background-color: var(--clr-main);
    border-radius: 0.5rem;
    transition: 1.5s;
}
/* end best offer section */

/* start our gallery section */
.gallery {
    padding: 5rem;
    text-align: center;
}

.gallery .container h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.gallery .container .imgs-box img {
    width: 200px;
    height: 112.5px;
    padding: 3px;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}

.popup-overlay {
    background-color: rgb(51, 51, 51, 0.6);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 10000;
    padding: 3rem;
    width: 100rem;
}
.popup-img {
    max-width: 100%;
}

.popup-box .close-box {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--clr-main);
    top: -40px;
    right: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}

.popup-box .close-box .close-icon {
    pointer-events: none;
}
/* end our gallery section */